.clock{
    height: 110px;
    width: 360px;
    float: left;
    padding-left: 50px;


}

.nerw{
    height: 110px;
    width: 360px;
    background-color: #D4AF37;

    line-height:60px;
    font-size:17px;
    line-height:80px;
}

